* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Dosis', sans-serif;
   padding: 50px;
}
img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
input,
button {
   border: none;
}
:focus-visible {
   outline: none;
   background-color: #dededf;
   color: black;
}
.game__wrapper {
   position: relative;
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.game__set-name {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 100px;
}
.set-name__input {
   width: 200px;
   font-size: 18px;
   border: 2px solid black;
   padding: 5px;
   border-radius: 10px;
   margin-right: 20px;
}
.start-game__button {
   padding: 5px 20px;
   border-radius: 10px;
   font-size: 18px;
   cursor: pointer;
   border: 2px solid black;
   background-color: #fff;
}
.start-game__button:hover {
   background-color: #dededf;
}
.game__score-box {
   width: 40%;
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding-bottom: 50px;
   border-bottom: 5px solid #000000;
}
.user-name {
   font-size: 30px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: capitalize;
}
.user-score {
   padding: 20px;
   border: 1px solid #b9b9c3;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   font-size: 26px;
   font-weight: 700;
}
.pc-score {
   padding: 20px;
   border: 1px solid #b9b9c3;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   font-size: 26px;
   font-weight: 700;
}
.pc-name {
   font-size: 30px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: capitalize;
}
.game__play-box {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.pc-chosen {
   font-size: 28px;
   letter-spacing: 2px;
   font-weight: 700;
   padding-bottom: 5px;
   text-transform: capitalize;
}
.game-result {
   font-size: 28px;
   letter-spacing: 2px;
   font-weight: 700;
   padding-bottom: 5px;
   text-transform: capitalize;
}
.result {
   font-size: 28px;
   letter-spacing: 2px;
   font-weight: 700;
   padding-bottom: 5px;
   text-transform: capitalize;
}
.chose-box {
   width: 100%;
   display: flex;
   align-items: center;
   margin-top: 30px;
}
.rock {
   width: 120px;
   height: 120px;
   background-color: white;
   padding: 10px;
   border: 1px solid #b9b9c3;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   cursor: pointer;
   margin-right: 30px;
}
.rock:hover {
   background-color: #dededf;
}
.paper {
   width: 120px;
   height: 120px;
   background-color: white;
   padding: 10px;
   border: 1px solid #b9b9c3;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   cursor: pointer;
   margin-right: 30px;
}
.paper:hover {
   background-color: #dededf;
}
.scissors {
   width: 120px;
   height: 120px;
   background-color: white;
   padding: 10px;
   border: 1px solid #b9b9c3;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   cursor: pointer;
}
.scissors:hover {
   background-color: #dededf;
}
.play-box__text {
   margin-top: 20px;
   font-size: 28px;
   letter-spacing: 2px;
   font-weight: 700;
}
.finish-window {
   display: none;
   visibility: hidden;
}
.finish-window.active {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.819);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   visibility: visible;
}
.finish-window__text {
   font-size: 32px;
   letter-spacing: 2px;
   font-weight: 700;
   padding-bottom: 5px;
   text-transform: capitalize;
   color: #000000;
}
.finish-window__btn {
   background-color: #dededf;
   padding: 10px 20px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   cursor: pointer;
   font-size: 22px;
   letter-spacing: 2px;
   font-weight: 700;
   border: 1px solid #b9b9c3;
}
.finish-window__btn:hover {
   background-color: #b9b9c3;
}

@media (max-width: 539px) {
   .game__set-name {
      padding-bottom: 20px;
      flex-direction: column;
   }
   .set-name__input {
      margin-right: 0px;
      margin-bottom: 10px;
   }
   .game__play-box {
      margin-top: 0px;
   }
   .chose-box {
      flex-direction: column;
   }
   .rock {
      margin-right: 0px;
      margin-bottom: 10px;
   }
   .paper {
      margin-right: 0px;
      margin-bottom: 10px;
   }
}